.success-msg {
    background-color: rgba(22, 163, 74, 0.1);
    color: var(--success);
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid rgba(22, 163, 74, 0.2);
  }