<div class="admin-wrapper" [class.sidebar-open]="isSidebarOpen">
  <div class="sidebar-overlay" (click)="closeSidebar()"></div>

  <aside class="sidebar">
    <div class="logo">
      <h2 routerLink="/admin/houses" style="cursor: pointer;">QL Nhà Trọ</h2>
    </div>
    <nav class="menu">
      <a routerLink="/admin/houses" routerLinkActive="active" class="menu-item" (click)="closeSidebar()">Khu trọ / Tòa nhà</a>
      <a routerLink="/admin/rooms" routerLinkActive="active" class="menu-item" (click)="closeSidebar()">Danh sách Phòng</a>
      <a routerLink="/admin/services" routerLinkActive="active" class="menu-item" (click)="closeSidebar()">Dịch vụ</a>
      
      <a routerLink="/admin/tenants" routerLinkActive="active" class="menu-item" (click)="closeSidebar()">Khách thuê</a>
      <a routerLink="/admin/contracts" routerLinkActive="active" class="menu-item" (click)="closeSidebar()">Hợp đồng</a>
      <a routerLink="/admin/meter-readings" routerLinkActive="active" class="menu-item" (click)="closeSidebar()">Ghi Điện/Nước</a>
      <a routerLink="/admin/invoices" routerLinkActive="active" class="menu-item" (click)="closeSidebar()">Hóa đơn & Thu tiền</a>
      <a routerLink="/admin/tasks" routerLinkActive="active" class="menu-item" (click)="closeSidebar()">Yêu cầu & Sự cố</a>
      
      <a *ngIf="userRole === 'OWNER'" routerLink="/admin/users" routerLinkActive="active" class="menu-item" (click)="closeSidebar()">Nhân viên</a>

      <a routerLink="/admin/profile" routerLinkActive="active" class="menu-item profile-link" (click)="closeSidebar()">
        Hồ sơ cá nhân
      </a>
    </nav>
  </aside>

  <main class="main-content">
    
    <header class="topbar">
      <button class="menu-toggle" (click)="toggleSidebar()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>

      <div class="right-header">
        <div class="user-info" routerLink="/admin/profile">
          <img *ngIf="avatarUrl" [src]="avatarUrl" alt="Avatar" class="avatar-img">
          <div *ngIf="!avatarUrl" class="avatar-text">
            {{ fullName.charAt(0) | uppercase }}
          </div>
          <span class="user-name">Xin chào, <strong>{{ fullName }}</strong></span>
        </div>

        <button class="btn-logout" (click)="logout()">Đăng xuất</button>
      </div>
    </header>

    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    
  </main>
</div>